 body{
   background-color: #0e0e21;

}

/* Style the tab buttons */
.tablink {
  background-color: #15141D;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 15%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #0e0e21;
}

/* Set default styles for tab content */
.tabcontent {
  padding-top: 45px;
  color: white;
  display: none;
  padding-left: 300px;
  text-align: left;
}

.tabtitle {
  padding-right: 350px;
  text-align: center;
  color: white;
  padding-top: 45px;

}

/* Style each tab content individually */
#News {background-color:#0e0e21;
color: white;}
#Work {background-color:#0e0e21;
color: white;}
#webUpdates {background-color:#0e0e21;
color: white;}
#About {background-color:#0e0e21;
color: white;}
